*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  background: linear-gradient(to right, rgb(175, 233, 224), rgb(241, 216, 220)) ;
}

.calculator{
  padding: 10px;
  background-color: black;
  display: inline-block;
  justify-content: center;
}
.container{
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two{
  grid-column: span 2;
}

.output{
  grid-column: 1 / -1;
  background-color: rgba(244, 236, 236, 0.593);
  display: flex;
}

.previous-operand{
  background-color: brown;
}

.current-operand{
  background-color: aqua;
} 